.container {
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: white;
  transition: height 200ms;
  border-top-left-radius: var(--p-border-radius-400);
  border-top-right-radius: var(--p-border-radius-400);
  border-width: 1px 1px 0px;
  border-color: gray;
  border-style: solid;
  padding: 0px 16px;
}

.open {
  height: 500px;
}

.top {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mark {
  height: 4px;
  width: 32px;
  border-radius: 2px;
  background-color: lightgray;
}
